<!DOCTYPE html>
<html>
<head>
    <title>Restfull Blog APP</title>
    <link rel="stylesheet" type="text/css" href="/semantic.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>

    <nav class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                <i class="code branch icon"></i>Blogs APP
            </div>

            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </nav>
