<% include ./partials/header %>

<div class="landing-header">
    <h1>Welcome to YelpCame!</h1>
    <a href="/campgrounds" class="btn btn-lg btn-success">View all campgrounds</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include ./partials/footer %>