# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# compiled
**/dist/*

# others
**/.vscode/*
**/package-lock.json
**/material/*.pdf
**/material/*.zip
**/yarn-error.log
