body {
    background: black;
}

.navbar {
    z-index: 10;
}

.landing-header {
    padding-top: 40vh;
    text-align: center;
    position: relative;
    z-index: 1;
}

.landing-header h1 {
    color: white;
}

.slideshow {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    position: fixed;
}

.slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.slideshow li:nth-child(1) { 
    background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) {
    animation-delay: 10s;  
    background-image: url(http://i.imgur.com/SBEmFpv.jpg);
}
.slideshow li:nth-child(3) { 
    animation-delay: 20s;
    background-image: url(http://i.imgur.com/emvhOnb.jpg);
    
}
.slideshow li:nth-child(4) { 
    animation-delay: 30s;
    background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
}
.slideshow li:nth-child(5) { 
    animation-delay: 40s;
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
}

@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}