.fieldRow:after, .field:after, .checkBox:after, #header #headerSet:after, #cuerpo #cuerpoSet:after, #footer #footerSet_wrapper:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.hide, .pot {
  padding: 0 !important;
  margin: 0 !important;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
  position: absolute;
}

html {
  height: 100%;
  font: 1em/1.3 arimoRegular, Helvetica, sans-serif;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, figure, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

body {
  height: 100%;
  color: #485059;
  background-color: #ffffff;
}

/*all elements boxsizing*/
body * {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

input:link, input:visited, input:hover, input:active, input:focus, textarea:link, textarea:visited, textarea:hover, textarea:active, textarea:focus, button:link, button:visited, button:hover, button:active, button:focus, select:link, select:visited, select:hover, select:active, select:focus, a:link, a:visited, a:hover, a:active, a:focus {
  outline: 0;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
}

/*HTML5 tags*/
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

/*Titles*/
/*strong*/
strong {
  font-weight: bold;
}

/*italic*/
em {
  font-style: italic;
}

/*readable hide*/
/*Paraghraps*/
p {
  padding-bottom: 0.75em;
  font-size: 0.875em;
  line-height: 1.2;
}

/*Lists*/
ul li {
  padding: 0 0 4px calc(12px + 2px);
  font-size: 0.875em;
  line-height: 1.2;
  position: relative;
}
ul li:before {
  content: "";
  left: 0;
  top: 0.17143em;
  width: 0.85714em;
  height: 0.85714em;
  border-radius: 100%;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

ul ul li, ol li ul li, ol.lowerAlpha li ul li {
  padding-left: calc(12px + 2px);
  font-size: 0.85714em;
  line-height: 1.2;
}
ul ul li:before, ol li ul li:before, ol.lowerAlpha li ul li:before {
  width: 0;
  height: 0;
  border-left: 12px solid #768391;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-radius: 0;
  box-sizing: content-box;
  background-color: transparent;
  top: 0.17143em;
}

ul ol li, ol li {
  margin: 0 0 0.125em 0;
  padding: 0em 0.35714em 0.42857em 1.375em;
  font-size: 0.875em;
  line-height: 1.2;
  position: relative;
  background-image: none;
}
ol li:before {
  content: counter(liCounter) ".";
  counter-increment: liCounter;
  left: 0.02em;
  top: 0em;
  font: normal 1.07143em/1.1 opensansExtraBold, Arial, Helvetica, sans-serif;
  color: #768391;
  text-align: right;
  display: block;
  position: absolute;
}

ol.lowerAlpha li:before {
  content: counter(liCounter,lower-latin) ".";
  counter-increment: liCounter;
}

ul {
  padding-bottom: 0.75em;
  list-style-type: none;
}
ul ul {
  padding: 0.3125em 0 0.3125em 0.125em;
}

/*Ordered lists*/
ol {
  counter-reset: liCounter;
}
ol ul {
  counter-reset: liCounter;
}
ol li ul li {
  margin: 0;
}
ol.lowerAlpha li ul li {
  margin: 0;
}

address {
  font-style: normal;
}

/*rulers*/
hr {
  display: none;
}

.hr {
  height: 20px;
  display: block;
  clear: both;
  overflow: hidden;
}

/*tables*/
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

/*Forms*/
label {
  font: bold 0.8125em/1 robotoRegular, Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #915857;
}

form fieldset {
  border-style: none;
}

form fieldset legend {
  display: none;
}

input[type=text], input[type=email], input[type=password], input[type=number], select, textarea {
  left: 0;
  padding: 2px 8px 2px 8px;
  height: 32px;
  font: normal 0.875em/1 arimoRegular, Helvetica, sans-serif;
  color: #000000;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: background-color 450ms ease-in 0ms, border-color 450ms ease-in 0ms, box-shadow 450ms ease-in 0ms;
  transition: background-color 450ms ease-in 0ms, border-color 450ms ease-in 0ms, box-shadow 450ms ease-in 0ms;
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover, select:hover, textarea:hover {
  border-color: #5e717d;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, select:focus, textarea:focus {
  outline-style: none;
  border-color: #5e717d;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
input[type=text].emptyField, input[type=email].emptyField, input[type=password].emptyField, input[type=number].emptyField, select.emptyField, textarea.emptyField {
  color: #747474;
}

select::-ms-expand {
  display: none;
}
select option {
  padding: 0 8px 0 8px;
}

textarea {
  padding: 6px 8px 6px 8px;
  height: 256px;
  line-height: 1.3;
  display: block;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkBox {
  padding-bottom: 4px;
  min-height: 15px;
  display: inline-block;
}
.checkBox input[type=checkbox] {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-style: none;
  outline-style: none;
  position: absolute;
}
.checkBox .checkBox_text {
  padding: 0 0 0 20px;
  display: block;
}
.checkBox:before {
  content: "";
  top: -0.07692em;
  width: 15px;
  height: 15px;
  vertical-align: top;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  background-origin: border-box;
  background-size: 80%;
  -webkit-transition: background-color 450ms ease-in 0ms, border-color 450ms ease-in 0ms, box-shadow 450ms ease-in 0ms;
  transition: background-color 450ms ease-in 0ms, border-color 450ms ease-in 0ms, box-shadow 450ms ease-in 0ms;
}
.checkBox.checked:before {
  background-position: center center;
  overflow: hidden;
}
.checkBox:hover:before {
  border-color: #5e717d;
}
.checkBox.focus:before {
  border-color: #5e717d;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.checkBox:hover:before, .checkBox:focus:hover:before {
  border-color: #5e717d;
}

input[type=radio] {
  margin: auto;
  width: auto;
  height: auto;
  border-style: none;
  display: block;
  background: inherit;
}

/*privacidad*/
form .privacy {
  margin: 8px 0;
  padding-top: 10px;
  line-height: 1 !important;
  position: relative;
  border-top: 1px solid #dbdbdb;
  position: relative;
}
form .privacy label {
  margin: 0 !important;
  font: normal 0.78571em/1 arimoRegular, Helvetica, sans-serif;
  text-transform: none !important;
  position: relative;
}
form .privacy label a {
  display: inline !important;
}
form .privacy label.checkBox {
  padding-top: 0.18182em;
}
form .privacy.fieldError .warn {
  font-size: 0.92857em;
}

/*Errors*/
.fieldError label {
  color: #b33131 !important;
}
.fieldError input[type=text],
.fieldError input[type=email],
.fieldError input[type=password],
.fieldError select,
.fieldError textarea,
.fieldError .checkBox:before {
  border-color: #b33131;
}
.fieldError .warn {
  font: bold 0.8125em/1.1 arimoRegular, Helvetica, sans-serif;
  color: #b33131 !important;
}
.fieldError .warn.fieldWarn {
  padding: 2px 8px 1px;
  text-align: right;
  display: block;
}

/*Buttons*/
.submitButton {
  margin: 4px 0 0 0;
  padding: 0 40px 0 40px;
  width: auto;
  height: 32px;
  font: normal 0.75em/1.1 opensansRegular, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-width: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: #5e717d;
  -webkit-transition: background-color 50mx ease-in 0ms, -webkit-transform 50mx ease-in 0ms;
  transition: background-color 50mx ease-in 0ms, -webkit-transform 50mx ease-in 0ms;
  transition: background-color 50mx ease-in 0ms, transform 50mx ease-in 0ms;
  transition: background-color 50mx ease-in 0ms, transform 50mx ease-in 0ms, -webkit-transform 50mx ease-in 0ms;
  -webkit-transform: scale(1);
          transform: scale(1);
  letter-spacing: -0.018em;
}
.submitButton:after {
  content: "";
  right: 0;
  top: 50%;
  display: block;
  position: absolute;
  background-origin: border-box;
}
.submitButton span {
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  visibility: visible;
}
.submitButton:hover {
  background-color: #316b90;
}
.submitButton:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.submitButton:active span {
  outline-style: none;
}
.submitButton::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.submitButton.borrar {
  background-color: #a3a3a3;
}
.submitButton.borrar:hover {
  background-color: #b6b6b6;
}

/*bot finder*/
/*Links*/
a:link {
  color: #963c3c;
}

a:visited {
  color: #963c3c;
}

a:hover, a:active {
  color: #4982b3;
}

/*images*/
img {
  display: block;
}

/*Clear floats*/
/*///////////////////////////////*/
/*/////////LAYOUT////////////*/
/*///////////////////////////////*/
#principal {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
}

#header {
  margin: 0 0 0 0;
  padding: 54px 0 0 0;
  width: 100%;
  height: auto;
  min-height: 160px;
  border-bottom: 39px solid #3f4346;
  position: relative;
  z-index: 10;
}
#header:after {
  content: "";
  left: 0;
  top: 161px;
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  z-index: -1;
  border-bottom: 5px solid #49769d;
}
#header #headerSet {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 100%;
  max-width: 80em;
  height: 67px;
  position: relative;
}

#cuerpo {
  width: 100%;
  max-width: 80em;
  height: 100%;
  text-align: left;
  clear: both;
  z-index: 5;
  position: relative;
  display: table-row;
}
#cuerpo #cuerpoSet {
  margin: 0 auto;
  padding: 8px 20px 0 20px;
  width: 100%;
  max-width: 80em;
}

/*Columna Izquierda*/
#cuerpo #colIzquierda {
  padding: 0 0 40px 0;
  width: 11.875em;
  height: auto;
  min-height: 10px;
  float: left;
  z-index: 2;
  position: relative;
}

/*Centro*/
#cuerpo #centro {
  padding: 0 0 40px 21px;
  width: calc(100% - 11.875em);
  height: auto;
  min-height: 10px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

/*Columna Derecha*/
#cuerpo #colDestacados {
  padding: 0 0 40px 0;
  width: 11.875em;
  height: auto;
  min-height: 10px;
  float: left;
  z-index: 2;
  position: relative;
  display: none;
}

#footer {
  width: 100%;
  height: auto;
  min-height: 5px;
  position: relative;
}
#footer #footerSet {
  border-top: 5px solid #963c3c;
  width: 100%;
  height: auto;
  min-height: 5px;
  position: relative;
}
#footer #footerSet_wrapper {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 80em;
  position: relative;
}

/*////////////////////////////////*/
/*////////////ELEMENTOS////////////*/
/*////////////////////////////////*/
