<% include ./partials/header %>
<div class="container">
    <h1>Sign Up!</h1>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="user name">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Submit</button>
    </form>
</div>
<% include ./partials/footer %>