{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "@babel/plugin-transform-new-target",
        ["@babel/plugin-transform-runtime", {
          "regenerator": true
        }]
    ],
    "sourceMap" : true
}