<h1>Login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Submit</button>
</form>

<ul>
<li><a href="/register">Sign up!</li>
<li><a href="/login">Login!</li>
<li><a href="/logout">Logout!</li>
</ul>