<h1>This is the Secret page!</h1>

<figure>
    <picture>
        <img src="https://images.pexels.com/photos/1758144/pexels-photo-1758144.jpeg" alt="Lovely ass" title="Lovely ass" style="width: 20vw;">
    </picture>
</figure>

<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam adipisci vitae deleniti
provident. Sint quaerat, eius qui quae adipisci distinctio, minima maiores rerum soluta quidem est
officiis, nobis vero asperiores?
</p>

<ul>
<li><a href="/register">Sign up!</li>
<li><a href="/login">Login!</li>
<li><a href="/logout">Logout!</li>
</ul>